@import '/src/styles/colors.scss';

.test-class {
  display: flex;
  position: relative;
}

.input {
  padding: 15px 12px;
  padding-right: 40px;
  width: 100%;
  font-size: 16px;
  border-radius: $radius-md;
  border: 1px solid $color-border;
  outline: none;
  color: $color-text;

  &::placeholder {
    color: rgba(175, 173, 181, 1);
  }
  &:not(input:disabled):focus {
    border: 1px solid $color-primary;
  }
  &:disabled {
    background-color: #fff;
    cursor: not-allowed;
  }
}

.input__after-slot {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
