$color-black: #000000;
$color-white: #ffffff;
$color-gray: #afadb5;
$color-gray-light: #d9d9d9;
$brand: #1f883d;
$brand-hover: rgba(#1f883d, 0.7);
$brand-active: #08531d;

$text-primary: #000000;
$text-secondary: $color-gray;
$text-accent: $brand;

$border-radius: 6px;

$button-primary-bg: $brand;
$button-primary-text: $color-white;
$button-primary-bg-hover: $brand-hover;
$button-primary-text-hover: $color-white;
$button-primary-bg-disabled: $color-gray-light;
$button-primary-text-disabled: $color-white;
$button-primary-bg-active: $brand-active;
$button-primary-text-active: $color-white;

$checkbox-bg: $color-white;
$checkbox-border: $color-white;
$checkbox-border-hover: $brand;
$checkbox-bg-disabled: rgba($color-white, 0.5);
$checkbox-border-disabled: rgba($color-white, 0);
$checkbox-check: $brand;
$checkbox-check-hover: $brand;
$checkbox-check-disabled: rgba($color-black, 0.2);

$dropdown-bg: $color-white;
$dropdown-border: $color-gray;
$dropdown-icon: $color-gray;
$dropdown-border-focus: $brand;

$input-bg: $color-white;
$input-placeholder: $color-gray;
$input-border: $color-white;
$input-bg-focus: $color-white;
$input-border-focus: $brand;
$input-text-focus: $color-black;
$input-bg-disabled: $color-white;
$input-border-disabled: $color-white;
$input-text-disabled: rgba($color-black, 0.2);

$loader-bg: $brand;
