@use '@/styles/mixins.scss' as *;

.repo-list {
  flex: 1;

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding-block: 28px 22px;
  }

  &__title {
    @include flex-center;
    margin-bottom: 28px;
  }

  &__loader {
    @include flex-center;
  }

  &__search {
    display: flex;
    gap: 20px;
  }

  &__search-section {
    margin-bottom: 36px;
  }

  &__search-dropdown {
    margin-bottom: 20px;
  }

  &__search-input {
    flex: 1;
  }
}
