.icon-base {
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
}

.icon-primary {
  color: black;
}

.icon-secondary {
  color: rgba(175, 175, 175, 1);
}

.icon-accent {
  color: rgba(81, 133, 129, 1);
}
