.check-icon.icon-color-primary path {
  stroke: var(--text-primary);
}

.check-icon.icon-color-secondary path {
  stroke: var(--text-secondary);
}

.check-icon.icon-color-accent path {
  stroke: var(--text-accent);
}

.arrow-down-icon.icon-color-primary path {
  /*должно быть inherit*/
  fill: var(--text-primary);
}

.arrow-down-icon.icon-color-secondary path {
  fill: var(--text-secondary);
}

.arrow-down-icon.icon-color-accent path {
  fill: var(--text-accent);
}
