@use '@/styles/colors.scss' as *;

.pagination {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin: 16px 0;

  &__button {
    padding: 6px 12px;
    border: 1px solid $color-gray-light;
    background: $color-white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;

    &:hover {
      background: rgba($button-primary-bg-hover, 0.65) !important;
    }

    &.active {
      background: $button-primary-bg;
      color: $color-white;
      cursor: default;

      &:hover {
        background-color: $button-primary-bg !important;
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &__dots {
    padding: 6px 4px;
    font-size: 14px;
  }
}
